@import "funcionalidades/constantes";
@import "funcionalidades/bases";
@import "paginas/index";
@import "paginas/clases";
@import "paginas/contacto";
@import "paginas/gimnasio";
@import "paginas/productos";


* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body {
    width: 100%;
    background-image: url(../imagenes/boxeo.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    body {
        background-attachment: scroll !important; // evita errores móviles
        background-size: contain; // mantiene proporción y ocupa todo
        background-repeat: repeat;
    }
}