$colores: rgb(109, 34, 180), rgb(89, 8, 165); 

%fondo-vidrio {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25)
}

@mixin centrado($display, $justify, $align, $wrap){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

