//* HEADER
header {
    @extend %fondo-vidrio;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 2;
    border-radius: 0 0 20px 20px;

    nav {
        div {
            h1 {
                font-size: 50px;
                font-style: italic;
                color: white;
            }

            div {
                ul {
                    @extend %fondo-vidrio;
                    border-radius: 25px;

                    li {
                        a {
                            color: white !important;

                            &:hover {
                                color: rgb(109, 34, 180) !important;
                                transition: 0.5s;
                                text-decoration: underline;
                            }
                        }

                        .dropdown-menu {
                            background-color: rgba(128, 128, 128, 0.651);

                            li {
                                a {
                                    &hover {
                                        background-color: rgb(109, 34, 180);
                                    }
                                }
                            }
                        }
                    }
                }

                form {
                    .boton-buscar {
                        border: 1px solid;
                        color: white;

                        &:hover {
                            background-color: rgb(109, 34, 180);
                            transition: 0.5s;
                            border: 1px solid
                        }
                    }
                }
            }
        }
    }
}


//* FOOTER
footer {
    @extend %fondo-vidrio;
    @include centrado(flex, space-evenly, center, wrap, row);
    position: sticky;
    bottom: 0;
    z-index: 2;
    border-radius: 20px 20px 0 0;

    a {
        &:hover {
            transition: 0.8s;
            transform: scale(1.3);
        }
    }

    i {
        font-size: 20px;

        &:hover {
            color: black;
            transition: 0.8s;
            transform: scale(1.3);
        }
    }
}



//* PROMOCIONES
.promociones {
    @extend %fondo-vidrio;
    padding: 5px 5px;
    gap: 20px;

    h2 {
        background-color: rgb(34, 3, 63);
        color: white;
        text-align: center;
        padding: 20px;
    }

    .contenedor-clases-promos {
        display: grid;
        grid-template-columns: 5% 6fr 5%;
        height: 1000px;
        @extend %fondo-vidrio;
        gap: 15px;

        .texto-vertical {
            writing-mode: vertical-rl;
            text-orientation: upright;
            background-color: rgb(34, 3, 63);
            color: white;
            font-size: 18px;
            text-align: center;
            padding: 10px 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
    }
}