//* PAGINA CLASES
main {
    .bloque-grid-clases {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 5px;
        margin: 30px 5px;

        .contenedor-clases {
            display: grid;
            grid-template-columns: 5% 6fr 5%;
            height: 300px;
            background-color: blueviolet;

            .texto-vertical {
                writing-mode: vertical-rl;
                text-orientation: upright;
                background-color: rgb(34, 3, 63);
                color: white;
                font-size: 18px;
                text-align: center;
                padding: 10px 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }

            .contenido-clases {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;

                .titulo-parrafo-clases {
                    width: 70%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h3 {
                        background-color: rgb(34, 3, 63);
                        font-weight: bold;
                        font-family: cursive;
                    }
                }

                .img-clases {
                    width: 30%;
                    height: 300px;
                    border: 2px solid rgb(34, 3, 63);

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {
        .bloque-grid-clases {
            .contenedor-clases {
                .contenido-clases {
                    .titulo-parrafo-clases {
                        width: 50%;
                        justify-content: start;
                    }

                    .img-clases {
                        width: 50%;
                    
                    }
                }
            }
        }
    }
}