//* PAGINA CONTACTO
main {
    .h2-contacto {
        display: flex;
        justify-content: center;
        color: white;
        background-color: rgba(109, 26, 186, 0.555);
        border-radius: 20px;
        padding: 20px 50px;
        margin-top: 10px;
    }

    .formulario-pago {
        @extend %fondo-vidrio;
        padding: 30px;
        border-radius: 25px;
        height: auto;
        border: 1px solid black;
        margin: 10px;

        div {
            select {
                option {
                    color: black !important;
                }
            }
        }
    }
}
